In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
%ls datasets/

adult.csv                  census.csv     nhanes_2015_2016.csv
airline_data.csv           coches.csv     pokemon.csv
antropometria00.csv        cwurData.csv   reg_data.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          movies.csv

In [4]:
df = pd.read_csv('datasets/antropometria-dataset.csv')

In [5]:
df.head(2)

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.1,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101

In [6]:
avBi = pd.pivot_table(df,
                      index = ['desc_ent', 'sexo'],
                     values = 'peso',
                     aggfunc = 'median' 
                     )
avBi

                                         peso
desc_ent                        sexo
AGUASCALIENTES                  1     69.9500
                                2     63.7000
BAJA CALIFORNIA                 1     70.6500
                                2     64.2000
BAJA CALIFORNIA SUR             1     76.6500
...                                       ...
VERACRUZ DE IGNACIO DE LA LLAVE 2     59.4725
YUCATAN                         1     66.0000
                                2     59.5750
ZACATECAS                       1     65.3000
                                2     61.6250

[64 rows x 1 columns]

In [7]:
avBi.loc['YUCATAN',:]

        peso
sexo
1     66.000
2     59.575

In [8]:
avBi2 = pd.pivot_table(df,
                      index = 'desc_ent', 
                     values = 'peso',
                     aggfunc = 'mean' 
                     )
avBi2

                                      peso
desc_ent
AGUASCALIENTES                   66.357786
BAJA CALIFORNIA                  68.467270
BAJA CALIFORNIA SUR              71.809198
CAMPECHE                         65.418475
CHIAPAS                          57.613775
CHIHUAHUA                        66.656005
COAHUILA DE ZARAGOZA             68.154142
COLIMA                           68.743648
DISTRITO FEDERAL                 65.119273
DURANGO                          66.354922
GUANAJUATO                       63.936390
GUERRERO                         60.466315
HIDALGO                          59.995917
JALISCO                          66.697270
MEXICO                           60.680850
MICHOACAN DE OCAMPO              64.900000
MORELOS                          63.541295
NAYARIT                          66.541827
NUEVO LEON                       67.239853
OAXACA                           58.800067
PUEBLA                           60.102996
QUERETARO                        63.547342
QUINTANA ROO                     64.238904
SAN LUIS POTOSI                  60.576912
SINALOA                          68.051272
SONORA                           68.849473
TABASCO                          66.554701
TAMAULIPAS                       68.210911
TLAXCALA                         62.085398
VERACRUZ DE IGNACIO DE LA LLAVE  62.546117
YUCATAN                          62.706315
ZACATECAS                        64.238524

In [9]:
avBi2.loc['MORELOS',:]

peso    63.541295
Name: MORELOS, dtype: float64

In [10]:
avBi3 = pd.pivot_table(df,
                      index = 'sexo',
                     values = 'peso',
                     aggfunc = 'max' 
                     )
avBi3

       peso
sexo
1     170.6
2     168.6

In [11]:
%ls datasets/

adult.csv                  census.csv     nhanes_2015_2016.csv
airline_data.csv           coches.csv     pokemon.csv
antropometria00.csv        cwurData.csv   reg_data.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          movies.csv

In [12]:
df2 = pd.read_csv('datasets/adult.csv')

In [13]:
df2.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,the label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [14]:
avBi4 = pd.pivot_table(df2,
                      index = ['education-num', 'marital-status'],
                     values = 'age',
                     aggfunc = 'median',
                     columns = 'sex'
                    
                     )
avBi4

sex                                    Female   Male
education-num marital-status
1              Divorced                   NaN   36.0
               Married-civ-spouse        46.0   52.0
               Married-spouse-absent      NaN   46.0
               Never-married             36.5   27.5
               Separated                 48.0    NaN
...                                       ...    ...
16             Married-civ-spouse        41.5   49.0
               Married-spouse-absent     43.0   42.5
               Never-married             42.0   36.0
               Separated                 40.0   46.0
               Widowed                   63.5   64.0

[103 rows x 2 columns]

In [16]:
#df2.set_index('education', 
            # inplace = True)

In [ ]:
#df2

In [ ]:
#df2.head()

In [ ]:
#df2.index.name = None

In [ ]:
#df2

In [ ]:
#df2.loc('education-num')

In [ ]:
#avBi4

In [17]:
type (avBi4)

pandas.core.frame.DataFrame

In [18]:
avBi4 = pd.pivot_table(df2,
                      index = ['education', 'marital-status'],
                     values = 'age',
                     aggfunc = 'median',
                     columns = 'sex'
                    
                     )
avBi4

sex                                    Female   Male
education     marital-status
 10th          Divorced                  45.0   39.0
               Married-civ-spouse        32.0   48.0
               Married-spouse-absent     39.0   49.0
               Never-married             18.0   20.0
               Separated                 34.0   38.0
...                                       ...    ...
 Some-college  Married-civ-spouse        38.0   42.0
               Married-spouse-absent     31.0   37.0
               Never-married             22.0   23.0
               Separated                 38.0   37.0
               Widowed                   58.0   60.5

[103 rows x 2 columns]

In [26]:
avBi4.loc['Bachelors',:]

KeyError: 'Bachelors'